<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="sidebar" style="height: 100vh; overflow: scroll;">
        <!-- User profile section  -->
        <br>
        <br>
        <br>
        <img src="{{image}}" alt="user image" width="150" height="150" class="mb-2" id="profile-img">
        <h6>Profile:</h6>
        <h3><a id="username" style="color: #f44336">{{username}}</a></h3>
        <hr>
        <h6>Description:</h6>
        <a id="description">{{description}}</a>
        <hr>

        <!-- Friends section  -->
        <h6>Friends</h6>
        <ul>
          <li>Total: <span class="badge badge-secondary">{{this.friendsLen}}</span></li>
          <li>Outgoing requests: <span class="badge badge-secondary">{{this.friendsOutLen}}</span></li>
          <li>Incoming requests: <span class="badge badge-secondary">{{this.friendsInLen}}</span></li>
        </ul>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
          Manage
        </button>
        <hr>

        <!-- Friend search section  -->
        <div class="person-search">
          <div class="form-group">
            <label for="person-search">
              <h6>Search for a person</h6>
            </label>
            <input type="input" class="form-control" id="person-search" aria-describedby="person-search"
              placeholder="Enter persom username">
          </div>
          <button id="person-btn" class="btn btn-secondary btn-sm">Search</button>
        </div>
        <hr>

        <!-- Game search section  -->
        <div class="game-search">
          <div class="form-group">
            <label for="game-search">
              <h6>Search for game</h6>
            </label>
            <input type="input" class="form-control" id="game-search" aria-describedby="game-search"
              placeholder="Enter game name">
          </div>
          <button id="search-btn" class="btn btn-secondary btn-sm">Search</button>
        </div>
        <br>
        <br>
        <br>

      </div>
    </div>
    <!-- Friends and game search results section -->
    <div class="col-md-8 col-sm-12" style="height: 100vh; overflow: scroll;">
      <div id="search-results">
        <br>
        <br>
        <br>
      </div>

      <br>

      <!-- Current user's games section -->
      <div id="games">
        <h3>{{username}}'s games</h3>
        <hr>
      </div>
      <div id="games2" class="row justify-content-start">

        {{#each games}}
        <div class="col">
          <div class="card mb-2" style="width: 10rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <h5 class="card-title pl-1">{{this.name}}</h5>
            <button class="btn btn-danger btn-sm" onclick="handleRemoveGame(this)" data-id={{this.id}}
              style="float: right">Remove Game</button>
          </div>
        </div>
        {{/each}}
      </div>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>

<!-- Friends Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Manage friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <h6>Friends List:</h6>
        <div id="friendslist">
          <div>
            {{#each friends}}
            <strong>{{this.friends}} </strong>
            <button class="badge badge-danger" onclick="handleDeleteFriend(this)" data-id={{this.id}}>Delete
              friend</button>
            <br><br>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#user_{{this.id}}"
                      aria-expanded="true" aria-controls="user_{{this.id}}">
                      See {{this.friends}}'s games
                    </button>
                  </h5>
                </div>
                <div id="user_{{this.id}}" class="collapse" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <h6>Games in common</h6>
                    <ul>
                      {{#each this.sameGames}}
                      <li>
                        {{this.name}}

                      </li>
                      {{/each}}

                    </ul>

                    <h6>Games NOT in common:</h6>
                    <ul>

                      {{#each this.difGames}}
                      <li>
                        <button class="btn btn-success btn-sm btn-block" onclick="handleAddGame(this)" id="{{this.id}}"
                          style="width: 20px; height:20; display: inline-block; padding: 0px;">+</button>
                        {{this.name}}
                      </li>
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </div>
            </div><br>
            {{/each}}
          </div>
        </div>
        <hr>

        <h6>Outgoing requests:</h6>
        <p>{{#each friendsOut}}
          <p>
            <strong>{{this.friendsOut}} </strong>
            <button class="badge badge-warning" onclick="handleCancelFriend(this)" data-id={{this.id}}>Cancel</button>
          </p>
          {{/each}}
        </p>
        <hr>

        <h6>Incoming requests:</h6>
        <p>{{#each friendsIn}}
          <p>
            <strong>{{this.friendsIn}} </strong>
            <button class="badge badge-success" onclick="handleConfirmFriend(this)" id="{{this.friendsIn}}"
              data-id={{this.id}}>Confirm</button>
            <button class="badge badge-danger" onclick="handleDenyFriend(this)" data-id={{this.id}}>Deny</button>
          </p>
          {{/each}}
        </p>
        <hr>

        <h6>Suggested Friends:</h6>
        <p>{{#each suggested}}
          <p>
            <strong>{{this.username}} <span class="badge badge-secondary">Games in common:
                {{this.count}}</span></strong>
            <button class="badge badge-success" onclick="handleAddFriend(this)" id={{this.id}}>Add
              Friend</button>
          </p>
          {{/each}}
        </p>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>