<style>
  .sidebar {
    overflow: auto;
    position: -webkit-sticky left;
    position: sticky;
    top: 5%;
    background-color: rgb(240, 240, 240);
    float: left;
    width: 100%;
    padding: 1rem;
  }

  h3,
  h6 {
    font-family: "Orbitron", sans-serif;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .container-fluid {
    margin-top: 56px;
    padding: 0px;
  }

  code,
  pre {
    background-color: #ccc;
    padding: 0 3px;
    border-radius: 5px;
  }

  .bottom {
    justify-self: bottom;
  }

  #profile-img {
    border-radius: 50%;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="sidebar">
        {{!-- <p class="text-center">image goes here</p> --}}
        <img src="{{image}}" alt="user image" width="150" height="150" class="mb-2" id="profile-img">
        <h6 style="color:darkgrey"><u><b>Profile:</b></u></h6>
        <h3><a id="username" style="color:green">{{username}}</a></h3>
        <hr>
        <h6 style="color:darkgrey"><u><b>Description:</b></u></h6>
        <a id="description">{{description}}</a>
        <hr>
        <h6>Friends</h6>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
          Show friends
        </button>
        <hr>

        <div class="game-search">

          <div class="form-group">
            <label for="game-search">
              <h6>Search for game</h6>
            </label>
            <input type="input" class="form-control" id="game-search" aria-describedby="game-search"
              placeholder="Enter game name">
          </div>
          <button id="search-btn" class="btn btn-primary">Search</button>

          <p></p>
        </div>

        <hr>

        <div class="person-search">

          <div class="form-group">
            <label for="person-search">
              <h6>Search for a person</h6>
            </label>
            <input type="input" class="form-control" id="person-search" aria-describedby="person-search"
              placeholder="Enter persom username">
          </div>
          <button id="person-btn" class="btn btn-primary">Search</button>

          <p></p>
        </div>

      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      {{!-- <br><br><br> --}}
      <div id="search-results">
      </div>

      <br>
      <div id="games">
        <h3>{{username}}'s games</h3>
        <hr>
      </div>
      <div id="games2" class="row justify-content-start">

        {{#each games}}
        <div class="col">
          <div class="card mb-2" style="width: 10rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
            <h5 class="card-title pl-1">{{this.name}}</h5>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Friends List</h6>
        <p>{{#each friends}}
          {{this.friends}} <button class="btn btn-success btn-sm delete-friend" data-id={{this.id}}>Delete</button>
          {{/each}}
        </p>
        
        <h6>Outgoing requests</h6>
        <p>{{#each friendsOut}}
          {{this.friendsOut}} <button class="btn btn-success btn-sm cancel" data-id={{this.id}}>Cancel</button>
          {{/each}}</p>

        <h6>Incoming requests</h6>
        <p>{{#each friendsIn}}
          {{this.friendsIn}} <button class="btn btn-success btn-sm confirm" data-id={{this.id}}>Confirm</button> <button class="btn btn-success btn-sm deny" data-id={{this.id}}>Deny</button>
          {{/each}}</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>